{% extends "base.html" %}

{% block titulo_pagina %}Excluir Produto{% endblock %}

{% block conteudo %}
<h3>Excluir Produto</h3>

<p>Tem certeza que deseja excluir o produto abaixo?</p>

<div class="card p-3">
    <p><strong>{{ produto.nome }}</strong></p>
    <p>Preço: R$ {{ produto.preco }}</p>
</div>

<form method="post">
    {% csrf_token %}
    <button class="btn btn-danger mt-3" type="submit">Confirmar Exclusão</button>
    <a href="{% url 'produto' %}" class="btn btn-secondary mt-3">Cancelar</a>
</form>
{% endblock %}
